<%- include('./layout/header.ejs') %>
<h1>Administrator</h1>
<a href="/adminux/restaurant-registration" type="button" class="d-none btn btn-primary text-decoration-none">Restaurant registration</a>

<% if (restaurants.length) { %>
  <h2>Restaurant List: <%= restaurants.length %></h2> 
<% } else { %>
  <h2>No restaurant</h2> 
<% } %>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>status</th>
      <th>Actions</th>
      <!-- Add other properties of the Restaurant model as needed -->
    </tr>
  </thead>
  <tbody>
    <% restaurants.forEach(restaurant => { %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.statusIsActive ? 'Active' : 'Inactive' %></td>
        <td>
          <p class="d-none" id="route-path">/adminux/delete-restaurant</p>
          <a href="/adminux/update-restaurant/<%= restaurant._id %>" class="btn btn-sm btn-primary">Update</a>
          <% if (restaurant.statusIsActive) { %>
            <a href="/adminux/deactivate-restaurant/<%= restaurant._id %>" class="btn btn-sm btn-warning">Deactivate</a>           
          <% } else { %>
            <a href="/adminux/activate-restaurant/<%= restaurant._id %>" class="btn btn-sm btn-warning">Activate</a>           
          <% } %>
          <button class="btn btn-sm btn-danger" onclick="deleteObject('<%= restaurant._id %>')">Delete</button>
        </td>
        <!-- Display other properties of the Restaurant model as needed -->
      </tr>
    <% }) %>
  </tbody>
</table>

<script src="/js/deleteObject.js"></script>            
<%- include('.././footer.ejs') %>
