<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('../home/layout/navbar.ejs') %>

<h2>Transactions</h2>
<div class="container">
    <% if (transactions.length) { %>      
        <h2>Current time: <span id="current-date-and-time"></span></h2> 
        <p><i>Just so you know, if you cancel your reservation before the day before your planned visit, you'll get half of your money back.</i></p>
    <% } %>
    <div class="row">
        <% transactions.forEach(transaction => { %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/images/restaurant/<%= transaction.restaurant.lowername %>/banner/<%= transaction.restaurant.image %>" class="card-img-top" alt="<%= transaction.restaurant.name %>">
                    <div class="card-body">
                        <h5 class="card-title">Transaction ID: <%= transaction._id %></h5>
                        <p class="card-text">Restaurant: <%= transaction.restaurant.name %></p>
                        <p class="card-text">Reservation Date and Time: <%= transaction.reservation.reservation_date.toDateString() %> <span class="reservation-time"><%= transaction.reservation.reservation_time %></span></p>
                        <p class="card-text">Half Amount: ₱ <span class="total-amount"><%= transaction.cart.halfAmount %></span></p>
                        <div class="d-flex justify-content-end">
                            <% if (transaction.isWithinAday) { %>
                                <a href="/transaction/cancel-reservation-unrefundable/<%= transaction._id %>" class="btn btn-danger btn-sm">Unrefundable Cancel Reservation</a>
                            <% } else { %>
                                <a href="/transaction/cancel-reservation-refundable/<%= transaction._id %>" class="btn btn-danger btn-sm">Refundable Cancel Reservation</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<script src="/js/customer/home.js"></script>            
<% if (transactions.length) { %>
    <script src="/js/timeFormatting.js"></script>      
    <script src="/js/transaction/transaction.js"></script>   
<% } %>         
<%- include('.././footer.ejs') %>