<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('.././navbar.ejs') %>

<main>
    <article>
    <% if (transactions.length) { %>     
        <section class="d-flex align-items-center info-section">
          <div>
            <img src="/images/static/info-icon.png" class="info-icon" alt="Info icon" id="info-icon">
          </div>
          <div id="info-content">
            <h2 class="title">Current time: <span id="current-date-and-time"></span></h2> 
            <p><i>Just so you know, if you cancel your reservation before the day before your planned visit, you'll get half of your money back.</i></p>
          </div>
      </section>
    <% } else { %>
        <h2 class="title">Transactions</h2>
    <% } %>
    <div class="row">
      <% transactions.forEach(transaction => { %>
          <% if (transaction.restaurant && transaction.restaurant._id) { %>
            <div class="col-lg-4 col-12 col-sm-6">
              <div class="card mb-4 shadow-sm">
                <img src="/images/restaurant/<%= transaction.restaurant.lowername %>/banner/<%= transaction.restaurant.image %>" class="card-img-top" alt="<%= transaction.restaurant.name %>">
                <div class="card-body">
                  <h5 class="card-title"><%= transaction.restaurant.name %></h5>
                  <% if (transaction.reservation.dineIn) { %>
                    <span class="badge rounded-pill primary-background-color mb-2">Dine In</span>
                  <% } else { %>
                    <span class="badge rounded-pill bg-warning text-black mb-2">Take Out</span>
                  <% } %>
                  <br>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-sm mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Show Table Location
                  </button>          
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= transaction.reservation.numberPax.name %></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <img src="/images/restaurant/<%= transaction.restaurant.lowername %>/floor-plan/<%= transaction.reservation.numberPax.image %>" alt="Floor plan image" class="" style="width: 500px; height: 500px;">
                          <p><i><%= transaction.reservation.numberPax.description %></i></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>                        
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= transaction._id  %>" aria-expanded="false" aria-controls="flush-collapseOne<%= transaction._id  %>">
                          Reservation
                        </button>
                      </h2>
                      <div id="flush-collapseOne<%= transaction._id  %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <ul class="list-group">                                        
                            <li class="list-group-item"><span>Reservation Date:</span> <span><%= transaction.reservation.reservation_date.toDateString() %></span></li>    
                            <li class="list-group-item"><span>Reservation Time:</span> <span class="reservation-time"><%= transaction.reservation.reservation_time %></span></li>    
                            <li class="list-group-item"><span>Number of Sits:</span> <span><%= transaction.reservation.numberPax.numberOfPax %></span></li>    
                            <% if (transaction.reservation.notes) { %>
                              <li class="list-group-item">>Note: <%= transaction.reservation.notes %></li>    
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>                                      
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo<%= transaction._id  %>" aria-expanded="false" aria-controls="flush-collapseTwo<%= transaction._id  %>">
                          Receipt
                        </button>
                      </h2>
                      <div id="flush-collapseTwo<%= transaction._id  %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          <ul class="list-group">
                            <% transaction.cart.items.forEach(item => { %>
                              <li class="list-group-item"><span><%= item.product.name %> <%= item.quantity %>x</span> <span>₱<%= item.total %></span></li>
                            <% }); %>                        
                            <% if (transaction.cart.voucherAmount) { %>
                              <li class="list-group-item"><span>Reservation fee</span> <span class="total-amount">₱<%= transaction.cart.reservationAmount %></span></li>    
                              <li class="list-group-item"><span>Subtotal amount</span> <span class="total-amount">₱<%= transaction.cart.subTotal %></span></li>
                              <li class="list-group-item list-group-item-success"><span class="total-amount">Voucher amount</span> <span>-₱<span class="total-amount"><%= transaction.cart.voucherAmount %></span></span></li>               
                            <% } else { %>
                              <li class="list-group-item"><span>Subtotal amount</span> <span class="total-amount">₱<%= transaction.cart.subTotal %></span></li>
                              <li class="list-group-item"><span>Reservation fee</span> <span class="total-amount">₱<%= transaction.cart.reservationAmount %></span></li>    
                            <% } %>
                            <li class="list-group-item"><span>Total amount</span> <span class="total-amount">₱<%= transaction.cart.totalAmount %></span></li>            
                            <li class="list-group-item fw-bold"><span>Half amount</span> <span class="total-amount">₱<%= transaction.cart.halfAmount %></span></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>                                      
                  <div class="mt-3">
                    <% if (transaction.isToday) { %>
                      <a href="/transaction/cancel-reservation-unrefundable/<%= transaction._id %>" class="btn btn-danger btn-sm">Unrefundable Cancel Reservation</a>
                    <% } else { %>
                      <a href="/transaction/cancel-reservation-refundable/<%= transaction._id %>" class="btn btn-danger btn-sm">Refundable Cancel Reservation</a>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>  
          <% } %>
        <% }) %>          
    </div>
</main>
<script src="/js/customer/home.js"></script>            
<% if (transactions.length) { %>
    <script src="/js/timeFormatting.js"></script>      
    <script src="/js/transaction/transaction.js"></script>   
<% } %>         

<%- include('.././footer.ejs') %>
