<%- include('.././header.ejs') %>
<%- include('./layout/navbar.ejs') %>

<h1>Add Category</h1>

<form action="/restaurant/add-category" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="text" name="name" required>
    <input type="hidden" class="form-control hidden-text" id="lowerText" name="lowername" value="">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" required>
  </div>
  <!-- Set the restaurant -->
    <button type="submit" class="btn btn-primary">Add Product</button>   
</form>
<% if (categories.length) { %>
  <h2>Restaurant List: <%= categories.length %></h2> 
<% } else { %>
  <h2>No restaurant</h2> 
<% } %>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Actions</th>
        <!-- Add other properties of the Restaurant model as needed -->
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <p class="d-none" id="route-path">/restaurant/delete-category</p>
            <a href="/restaurant/update-category/<%= category._id %>" class="btn btn-sm btn-warning">Update</a>
            <button class="btn btn-sm btn-danger" onclick="deleteObject('<%= category._id %>')">Delete</button>
          </td>
          <!-- Display other properties of the Restaurant model as needed -->
        </tr>
      <% }) %>
    </tbody>
  </table>

<script src="/js/textInputLowerCase.js"></script>            
<script src="/js/deleteObject.js"></script>                        
<%- include('.././footer.ejs') %>
