<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>


<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="title text-center mb-4">Add Product</h1>
          <form action="/restaurant/add-product" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" id="description" name="description" maxlength="30" required>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <% if (hasProduct) { %>
                <select class="form-control" id="category" name="category" required>
                  <% categories.forEach(category => { %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                  <% }) %>
                </select>
                <input type="hidden" class="form-control hidden-text" id="lowerText" name="lowerCategory" value="">       
              <% } %>
              <a href="/restaurant/add-category" class="btn btn-sm btn-warning">Add Category</a>
            </div>
            <div class="form-group">
              <label for="image" class="form-label">Banner</label>
              <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <!-- Display existing image -->
            <div class="form-group" id="existingImageContainer">
              <label>Existing Image</label>
              <img src="" id="existingImage" class="w-25">
            </div>  
            <!-- Set the restaurant -->
            <input type="hidden" class="form-control" id="restaurant" name="restaurant" value="<%= restaurant %>" required>
            <% if (hasProduct) { %>
              <button type="submit" class="btn btn-primary w-100">Add Product</button>   
            <% } else { %>
              <p>Make sure to add category first, before you can add a product</p>
              <button class="btn btn-primary disabled">Add Product</button>   
            <% } %>
          </form>
          <a href="/restaurant/dashboard" class="btn btn-warning w-100 mt-3">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/showExistingImage.js"></script>
<script src="/js/restaurant/add-product.js"></script>
<%- include('.././footer.ejs') %>
