<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>
<main>
  <h2 class="title"><%= transactions.length %> Transactions</h2>
  
  <a href="/restaurant/dashboard" class="btn primary-background-color text-white me-3" id="all-btn">All</a>
  <a href="/restaurant/dashboard?isToday=true" class="btn today-bg-color" id="today-btn">Today</a>
  <a href="/restaurant/dashboard?isPending=true" class="btn mx-3 pending-bg-color">Pending</a>

  <div class="row">
      <% transactions.forEach(transaction => { %>    
        <% if (transaction.isCancelled === true && transaction.isRefunded === true) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #E29578;">
            <h5>Transaction Status: Refunded Cancelled</h5>
        <% } else if (transaction.isCancelled === true && transaction.isRefunded === false) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #E29578;">
            <h5>Transaction Status: Unrefunded Cancelled</h5>
        <% } else if (transaction.isToday === true && transaction.isTransactionComplete === false) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #c6d350;">
            <h5>Transaction Status: Today</h5>
        <% } else if (transaction.isTransactionComplete === true) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #83c589;">
            <h5>Transaction Status: Completed</h5>
        <% } else { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #83C5BE; color: black;">
            <h5>Transaction Status: Pending</h5>
        <% } %>
            <h6 class="card-title">Transaction ID: <%= transaction._id %></h6>
            <div class="accordion accordion-flush my-2" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= transaction._id %>" aria-expanded="false" aria-controls="flush-collapseOne">
                    Profile
                  </button>
                </h2>
                <div id="flush-collapseOne<%= transaction._id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <li>Username: <%= transaction.customer.username %></li>
                          <li>Fullname: <%= transaction.customer.fullname %></li>
                          <%
                              const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                              const birthDate = new Date(transaction.customer.dateOfBirth);
                              const formattedBirthDate = `${months[birthDate.getMonth()]} ${birthDate.getDate()} ${birthDate.getFullYear()}`;
                          %>
                          <li>Date of Birth: <%= formattedBirthDate %></li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo<%= transaction._id %>" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Orders
                  </button>
                </h2>
                <div id="flush-collapseTwo<%= transaction._id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <% transaction.cart.items.forEach(item => { %>
                              <li><%= item.product.name %> <%= item.quantity %>x</li>
                          <% }) %>
                          <p class="mb-0 mt-2">Total amount: ₱<%= transaction.cart.totalAmount %></p>
                          <p class="mb-0 fw-bold">Half amount: ₱<%= transaction.cart.halfAmount %></p>    
                      </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree<%= transaction._id %>" aria-expanded="false" aria-controls="flush-collapseThree">
                    Reservation
                  </button>
                </h2>
                <div id="flush-collapseThree<%= transaction._id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <%
                              const monthz = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                              const reservation = new Date(transaction.reservation.reservation_date);
                              const formattedReservationDate = `${monthz[reservation.getMonth()]} ${reservation.getDate()} ${reservation.getFullYear()}`;
                          %>
                          <li>Reservation date: <%= formattedReservationDate %></li>
                          <li>Reservation time: <span class="reservation-time"><%= transaction.reservation.reservation_time %></span></li>
                          <li>Number of Pax: <%= transaction.reservation.num_pax %></span></li>
                          <li>Notes: <%= transaction.reservation.notes %></span></li>
                          <li>Amount: ₱<%= transaction.reservation.amount %></span></li>
                          <li>Created at: <%= transaction.reservation.created_at.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: '2-digit', year: 'numeric' }) %></li>
                      </ul>
                  </div>                          
                </div>                        
              </div>
            </div>     
            <!-- <a href="/restaurant/delete-transaction/<%= transaction._id %>" class="btn btn-danger btn-sm delete-button">Delete</a> -->
            <% if (transaction.isCancelled === true || transaction.isTransactionComplete === true) { %>
                <!-- <a href="/restaurant/remove-transaction/<%= transaction._id %>" class="btn btn-danger btn-sm delete-button">Remove</a> -->
            <% } %>       
            <% if (transaction.isCancelled === false && transaction.isTransactionComplete === false) { %>
                <form action="/transaction/transaction-complete/<%= transaction._id %>" method="post">
                    <button type="submit" class="btn btn-primary btn-sm completed-bg-color border-black">Transaction completed</button>
                </form>
            <% } %>       
        </div>       
      <% }); %>
  </div>
</main>    
<script src="/js/restaurant/dashboard.js"></script> 
<% if (transactions.length) { %>
  <script src="/js/timeFormatting.js"></script>  
<% } %>
<%- include('.././footer.ejs') %>
