<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>
<main>
  <h2 class="title"><%= transactions.length %> Transactions</h2>
  
  <a href="/restaurant/dashboard" class="btn primary-background-color text-white me-3" id="all-btn">All</a>
  <a href="/restaurant/dashboard/today" class="btn today-bg-color" id="today-btn">Today</a>
  <a href="/restaurant/dashboard/pending" class="btn mx-3 pending-bg-color">Pending</a>

  <div class="row">
      <% transactions.forEach(transaction => { %>    
        <% if (transaction.isCancelled === true && transaction.isRefunded === true) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #E29578;">
            <h5>Transaction Status: Refunded Cancelled</h5>
        <% } else if (transaction.isCancelled === true && transaction.isRefunded === false) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #E29578;">
            <h5>Transaction Status: Unrefunded Cancelled</h5>
        <% } else if (transaction.isToday === true && transaction.isTransactionComplete === false) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #c6d350;">
            <h5>Transaction Status: Today</h5>
        <% } else if (transaction.isTransactionComplete === true) { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #83c589;">
            <h5>Transaction Status: Completed</h5>
        <% } else { %>
            <div class="border border-black col-lg-4 col-12 col-sm-6 transaction" style="background-color: #83C5BE; color: black;">
            <h5>Transaction Status: Pending</h5>
        <% } %>
        <% if (transaction.reservation.dineIn && !transaction.reservation.other) { %>
          <span class="badge rounded-pill primary-background-color mb-2">Dine In</span>
        <% } else if (transaction.acceptOrNot) { %>
          <span class="badge rounded-pill primary-background-color mb-2"><%= transaction.acceptOrNot === 'Pending' ? 'Pending...' : transaction.acceptOrNot %></span>
        <% } else { %>
          <span class="badge rounded-pill bg-warning text-black mb-2">Take Out</span>
        <% } %>
            <div class="accordion accordion-flush my-2" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= transaction._id %>" aria-expanded="false" aria-controls="flush-collapseOne">
                    Profile
                  </button>
                </h2>
                <div id="flush-collapseOne<%= transaction._id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <li>Username: <%= transaction.customer.username %></li>
                          <li>Fullname: <%= transaction.customer.fullname %></li>
                          <%
                              const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                              const birthDate = new Date(transaction.customer.dateOfBirth);
                              const formattedBirthDate = `${months[birthDate.getMonth()]} ${birthDate.getDate()} ${birthDate.getFullYear()}`;
                          %>
                          <li>Date of Birth: <%= formattedBirthDate %></li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo<%= transaction._id  %>" aria-expanded="false" aria-controls="flush-collapseTwo<%= transaction._id  %>">
                      Receipt
                    </button>
                  </h2>
                  <div id="flush-collapseTwo<%= transaction._id  %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul class="list-group">
                            <% transaction.cart.items.forEach(item => { %>
                                <li class="list-group-item"><span><%= item.product.name %> <%= item.quantity %>x</span> <span>₱<%= item.total %></span></li>
                            <% }); %>                        
                            <% if (transaction.cart.voucherAmount) { %>
                                <% if (transaction.cart.reservationAmount !== 0) { %>
                                  <li class="list-group-item"><span>Reservation fee</span> <span class="total-amount">₱<%= transaction.cart.reservationAmount %></span></li>    
                                <% } %>    
                                <li class="list-group-item"><span>Subtotal amount</span> <span class="total-amount">₱<%= transaction.cart.subTotal %></span></li>
                                <li class="list-group-item list-group-item-success"><span class="total-amount">Voucher amount</span> <span>-₱<span class="total-amount"><%= transaction.cart.voucherAmount %></span></span></li>               
                            <% } else { %>
                                <li class="list-group-item"><span>Subtotal amount</span> <span class="total-amount">₱<%= transaction.cart.subTotal %></span></li>
                                <% if (transaction.cart.reservationAmount !== 0) { %>
                                  <li class="list-group-item"><span>Reservation fee</span> <span class="total-amount">₱<%= transaction.cart.reservationAmount %></span></li>    
                                <% } %>      
                            <% } %>
                            <li class="list-group-item"><span>Total amount</span> <span class="total-amount">₱<%= transaction.cart.totalAmount %></span></li>            
                            <li class="list-group-item fw-bold"><span>Half amount</span> <span class="total-amount">₱<%= transaction.cart.halfAmount %></span></li>
                          </ul>
                    </div>
                  </div>
            </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree<%= transaction._id %>" aria-expanded="false" aria-controls="flush-collapseThree">
                    Reservation
                  </button>
                </h2>
                <div id="flush-collapseThree<%= transaction._id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <ul>
                          <%
                              const monthz = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                              const reservation = new Date(transaction.reservation.reservation_date);
                              const formattedReservationDate = `${monthz[reservation.getMonth()]} ${reservation.getDate()} ${reservation.getFullYear()}`;
                          %>
                          <li>Reservation date: <%= formattedReservationDate %></li>
                          <li>Reservation Time: <span class="reservation-time"><%= transaction.reservation.reservation_time %></span></li>
                          <li>Number of Sit: <%= transaction.reservation.numberPax ? transaction.reservation.numberPax.numberOfPax : transaction.reservation.other %></li>
                          <% if (transaction.reservation.numberPax) { %>
                            <li>Table name: <%= transaction.reservation.numberPax.name %></li>                           
                          <% } %>
                          <% if (transaction.reservation.amount !== 0) { %>
                            <li>Amount: ₱<span class="total-amount"><%= transaction.reservation.amount %></span></li>                           
                          <% } %>
                          <li>Created at: <%= transaction.reservation.created_at.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: '2-digit', year: 'numeric' }) %></li>
                          <li>Notes: <%= transaction.reservation.notes %></li>
                      </ul>
                  </div>                          
                </div>                        
              </div>
            </div>                
            <% if ((transaction.isCancelled === false && transaction.isTransactionComplete === false) && (transaction.acceptOrNot === 'Accepted' || !transaction.acceptOrNot)) { %>
              <form action="/restaurant/transaction-complete/<%= transaction._id %>" method="post">
                  <button type="submit" class="btn btn-primary btn-sm completed-bg-color border-black">Transaction completed</button>
              </form>
            <% } else { %>       
              <form action="/restaurant/accept-transaction-or-not/<%= transaction._id %>" method="post">
                <button type="submit" name="action" value="Accepted" class="btn btn-primary btn-sm completed-bg-color border-black">Accept</button>                
                <button type="submit" name="action" value="Declined" class="btn btn-primary btn-sm border-black delete-button">Decline</button>                
              </form>
            <% } %>
        </div>       
      <% }); %>
  </div>
</main>    
<script src="/js/restaurant/dashboard.js"></script> 
<% if (transactions.length) { %>
  <script src="/js/timeFormatting.js"></script>  
<% } %>
<%- include('.././footer.ejs') %>
