<%- include('./layout/header.ejs') %>
<!-- Include the navbar from the layout -->
<%- include('./layout/navbar.ejs') %>

<main>
  <% if (products.length > 0) { %>
    <% const groupedProducts = {}; %>
    <% products.forEach(product => { %>
      <% const category = product.category.name; %>
      <% const isActivate = product.category.isActivate; %>
      <% if (!groupedProducts[category]) { %>
        <% groupedProducts[category] = { products: [], isActivate: isActivate }; %>
      <% } %>
      <% groupedProducts[category].products.push(product); %>
    <% }); %>
    <% Object.keys(groupedProducts).forEach(category => { %>
      <% if (groupedProducts[category].isActivate) { %>
        <h2 class="title"><%= category %></h2>    
      <% } else { %>
        <h2 class="title"><%= category %> <small class="text-danger">is deactivate</small></h2>       
      <% } %>      
      <div class="row row-cols-1 row-cols-md-3">  
        <% groupedProducts[category].products.forEach(product => { %>
          <div class="square">           
            <div class="single-product">
              <% if (product.isSoldOut) { %>
                <div style="position: relative;">
                  <img src="/images/restaurant/<%= product.restaurant.lowername %>/products/<%= product.category.lowername %>/<%= product.image %>" class="card-img-top sold-out" alt="Product Image">
                  <label for="" class="sold-out">
                    Sold out
                  </label>
                </div>
              <% } else { %>
                <img src="/images/restaurant/<%= product.restaurant.lowername %>/products/<%= product.category.lowername %>/<%= product.image %>" class="card-img-top" alt="Product Image">               
              <% } %>
            <% if (product.category.isActivate) { %>
              <div class="card-body">
            <% } else { %>
              <div class="card-body bg-danger text-white">           
            <% } %>
              <h5 class="product-name h4"><%= product.name %></h5>
            <% if (product.category.isActivate) { %>
              <p class="product-description"><%= product.description %></p>
            <% } else { %>
              <p class="product-description text-white"><%= product.description %></p>
            <% } %>    
              <p class="card-text">Price: ₱<%= product.price %></p>
              <!-- Add more product details as needed -->
              <% if (product.category.isActivate) { %>
                <button class="btn btn-danger btn-sm delete-btn" onclick="deleteProduct('<%= product._id %>')">Delete</button>
              <% } else { %>
                <button class="btn btn-danger btn-sm delete-btn border" onclick="deleteProduct('<%= product._id %>')">Delete</button>
              <% } %>
              <a href="/restaurant/update-product/<%= product._id %>" class="btn btn-warning btn-sm update-btn">Update</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% }); %>
  <% } else { %>
    <p>No products available.</p>
  <% } %>
</main>



<script src="/js/restaurant/products.js"></script>            
<%- include('.././footer.ejs') %>
