<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('./layout/navbar.ejs') %>

<div class="container">
  <div class="information">
    <h2 class="text-white">Profile Information</h2>
    <div class="info-item">
      <span>Username:</span>
      <p><%= restaurant.username %></p>
    </div>
    <div class="info-item">
      <span>Name:</span>
      <p><%= restaurant.name %></p>
    </div>
    <div class="info-item">
      <span>Email:</span>
      <p><%= restaurant.email %></p>
    </div>
    <div class="info-item">
      <span>Phone:</span>
      <p><%= restaurant.phone %></p>
    </div>
    <div class="info-item">
      <span>Address:</span>
      <p><%= restaurant.address %></p>
    </div>
    <img src="/images/restaurant/banner/<%= restaurant.image %>" alt="" class="w-25">
  </div>
</div>

<%- include('.././footer.ejs') %>
