<%- include('./layout/header.ejs') %>
<%- include('./layout/navbar.ejs') %>

<main>
  <section>
    <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
    <% } %>
    <h2 class="title">Profile Information</h2>
    <form action="/restaurant/update-restaurant/<%= restaurant._id %>" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" value="<%= restaurant.username %>" required minlength="5" maxlength="40">
      </div>
  
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control hidden-text" id="text" name="name" value="<%= restaurant.name %>" required
          minlength="5" maxlength="40">
        <input type="hidden" class="form-control" id="lowerText" name="lowername" value="">
      </div>
  
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= restaurant.email %>" required>
      </div>
  
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
      </div>
  
      <div class="form-group">
          <label for="reEnterPassword">Re-enter Password</label>
          <input type="password" class="form-control" id="reEnterPassword" name="reEnterPassword">
      </div>
  
      <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" value="<%= restaurant.phone %>">
      </div>
  
      <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address" value="<%= restaurant.address %>" required>
      </div>
  
      <!-- Display existing image -->
      <div class="form-group" id="existingImageContainer">
          <label>Existing Image:</label>
          <br>
          <img src="/images/restaurant/<%= restaurant.lowername %>/banner/<%= restaurant.image %>" id="existingImage" class="w-75">
      </div>
  
      <!-- Option to upload a new image -->
      <div class="form-group">
          <label class="form-label">Upload new banner image:</label>
          <input type="file" class="form-control" id="image" name="image">
      </div>
      <input type="hidden" name="old_restaurant_banner_image" id="old_restaurant_banner_image" value="<%= restaurant.image %>">
  
      <label class="form-label mt-4 title">Set opening and closing hours:</label>  
      <% restaurant.openingHours.forEach(item => { %>
          <div class="mb-2">
              <label class="form-label"><%= item.day %></label>
              <div class="row">
                  <div class="col">
                      <input type="time" class="form-control" name="openingHours[<%= item.day %>][open]" id="open-<%= item.day %>" value="<%= item.open %>" <%= !item.isOpen ? 'disabled' : '' %>>
                  </div>
                  <div class="col">
                      <input type="time" class="form-control" name="openingHours[<%= item.day %>][close]" id="close-<%= item.day %>" value="<%= item.close %>" <%= !item.isOpen ? 'disabled' : '' %>>
                  </div>
                  <div class="col">
                    <button type="button" id="toggle-<%= item.day %>" class="btn <%= item.isOpen ? 'btn-secondary' : 'btn-danger' %>" onclick="toggleDay('<%= item.day %>')"><%= item.isOpen ? 'Open' : 'Closed' %></button>
                    <input type="hidden" name="openingHours[<%= item.day %>][isOpen]" id="isOpen-<%= item.day %>" value="<%= item.isOpen %>">
                  </div>
              </div>
          </div>
      <% }); %>
      <button type="submit" class="btn primary-background-color text-white mt-2">Submit</button>
  </form>
  
    </section>
</main>

<script>
    function toggleDay(day) {
        const isOpenInput = document.getElementById(`isOpen-${day}`);
        const openInput = document.getElementById(`open-${day}`);
        const closeInput = document.getElementById(`close-${day}`);
        const button = document.getElementById(`toggle-${day}`);
  
        if (isOpenInput.value === "true") {
            isOpenInput.value = "false";
            openInput.disabled = true;
            closeInput.disabled = true;
            button.textContent = "Closed";
            button.classList.remove("btn-secondary");
            button.classList.add("btn-danger");
        } else {
            isOpenInput.value = "true";
            openInput.disabled = false;
            closeInput.disabled = false;
            button.textContent = "Open";
            button.classList.remove("btn-danger");
            button.classList.add("btn-secondary");
        }
    }
  </script>  
<script src="/js/showExistingImage.js"></script>
<script src="/js/textInputLowerCase.js"></script>   
<%- include('.././footer.ejs') %>
