<%- include('./layout/header.ejs') %>
<%- include('./../navbar.ejs') %>
<main>
    <div class="row">
        <% 
            // Helper function to convert 24-hour time to 12-hour time with AM/PM
            const convertTo12HourFormat = (time) => {
                const [hour, minute] = time.split(':').map(Number);
                const ampm = hour >= 12 ? 'pm' : 'am';
                const adjustedHour = hour % 12 || 12; // Convert 0 to 12 for 12AM
                return `${adjustedHour}:${minute.toString().padStart(2, '0')}${ampm}`;
            };
        %>


        <% restaurants.forEach(restaurant => { %>            


            <% if (restaurant.statusIsActive) { %> 
                <% let hideSquare = customerQuota.some(quota => quota.restaurant && quota.restaurant._id.toString() === restaurant._id.toString() && quota.cancelledLimit === 0); %>
                <div class="square<%= hideSquare ? ' d-none' : '' %>">
                    <h4>restaurant: <%= restaurant %></h4>
                    <h3>isRestaurantOpen: <%= restaurant.lowername %></h3>
                    <% if (restaurant.isRestaurantOpen) { %>
                        <a href="/restaurant-products/<%= restaurant.lowername %>" class="card mb-4 shadow-sm text-decoration-none">                                          
                    <% } else { %>
                        <a class="card mb-4 shadow-sm text-decoration-none">  
                    <% } %>
                    <img src="/images/restaurant/<%= restaurant.lowername %>/banner/<%= restaurant.image %>" class="card-img-top restaurant-banner-image" alt="<%= restaurant.name %>">
                        <div class="card-body">
                            <% if (!restaurant.isRestaurantOpen) { %>
                                <small class="bg-danger text-white py-1 px-2">CLOSED</small>
                            <% } %>
                            <h5 class="card-title mt-2"><%= restaurant.name %></h5>
                            <p class="card-text"><%= restaurant.address %></p>
                            <% if (restaurant.isRestaurantOpen) { %>                             
                                <small>
                                    From....
                                </small>                           
                            <% } %>
                        </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</main>




<script src="/js/customer/home.js"></script>            
<%- include('.././footer.ejs') %>
