<%- include('./layout/header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('./../navbar.ejs') %>
<main>
    <div class="row">
        <% restaurants.forEach(restaurant => { %>
            <% if (restaurant.statusIsActive) { %> 
                <% let hideSquare = false; %>
                <% customerQuota.forEach(quota => { %>
                    <% if (quota.restaurant._id.toString() === restaurant._id.toString() && quota.cancelledLimit === 0) { %>
                        <% hideSquare = true; %>

                    <% } %>
                <% }) %>

                <div class="square<%= hideSquare ? ' d-none' : '' %>">
                    <a href="/restaurant-products/<%= restaurant.lowername %>" class="card mb-4 shadow-sm text-decoration-none">
                        <img src="/images/restaurant/<%= restaurant.lowername %>/banner/<%= restaurant.image %>" class="card-img-top restaurant-banner-image" alt="<%= restaurant.name %>">                        
                        <div class="card-body">
                            <h5 class="card-title"><%= restaurant.name %></h5>
                            <p class="card-text"><%= restaurant.address %></p>
                        </div>
                    </a>
                </div>
            <% } %>
        <% }) %>
    </div>
</main>
<script src="/js/customer/home.js"></script>            
<%- include('.././footer.ejs') %>
