<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('.././navbar.ejs') %>

<main>
    <% if (products.length > 0) { %>
      <% const groupedProducts = {}; %>
      <% products.forEach(product => { %>
        <% const category = product.category.name; %>
      <% const isActivate = product.category.isActivate; %>
      <% if (!groupedProducts[category]) { %>
        <% groupedProducts[category] = { products: [], isActivate: isActivate }; %>
      <% } %>
      <% groupedProducts[category].products.push(product); %>
    <% }); %>
    <% Object.keys(groupedProducts).forEach(category => { %>
      <% if (groupedProducts[category].isActivate) { %>
        <h2 class="category-name title"><%= category %></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% groupedProducts[category].products.forEach(product => { %>
            <div class="square">
              <form action="/add-to-cart" method="post">
                <% if (product.isSoldOut) { %>
                  <div class="single-product">
                <% } else { %>
                  <button type="submit" class="single-product">
                <% } %>
                  <% if (product.isSoldOut) { %>
                    <div style="position: relative;">
                      <img src="/images/restaurant/<%= product.restaurant.lowername %>/products/<%= product.category.lowername %>/<%= product.image %>" class="card-img-top product-image sold-out" alt="Product Image">                   
                      <label for="" class="sold-out">
                        Sold out
                      </label>
                    </div>
                  <% } else { %>
                    <img src="/images/restaurant/<%= product.restaurant.lowername %>/products/<%= product.category.lowername %>/<%= product.image %>" class="card-img-top product-image" alt="Product Image">                   
                  <% } %>
                  <p class="product-name h4"><%= product.name %></p>
                  <p class="product-description"><%= product.description %></p>
                  <!-- <p class="product-description text-secondary">
                  //  <%= product.description.slice(0, 30) + (product.description.length > 20 ? '...' : '') %>
                  </p> -->
                  <div class="flex-container">
                    <img src="/images/static/add-icon.png" alt="" class="add-icon">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="restaurantId" value="<%= product.restaurant._id %>">
                    <p class="product-price">₱<%= product.price %></p>
                  </div>                  
                  <% if (product.isSoldOut) { %>
                    </div>                   
                  <% } else { %>
                    </button>
                  <% } %>
              </form>
            </div>
          <% }); %>
        </div>
      <% } %>  
      <% }); %>
    <% } else { %>
      <p>No products available.</p>
    <% } %>
</main>

<script type="module">
  const socket = new WebSocket('ws://localhost:3000');

  socket.addEventListener('message', function (event) {
      const data = JSON.parse(event.data);
      
      if (data.type === 'PRODUCT_UPDATE' && data.restaurantId === '<%= restaurantID %>') {
          location.reload();
      }
  });
</script>
<script src="/js/home/restaurant-products.js"></script>            
<%- include('.././footer.ejs') %>
 