<%- include('.././header.ejs') %>
<!-- I include the navbar from customer layout because they have the same navbar -->
<%- include('.././navbar.ejs') %>

<main>
    <% if (products.length > 0) { %>
      <% const groupedProducts = {}; %>
      <% products.forEach(product => { %>
        <% const category = product.category.name; %>
        <% if (!groupedProducts[category]) { %>
          <% groupedProducts[category] = []; %>
        <% } %>
        <% groupedProducts[category].push(product); %>
      <% }); %>
      <% Object.keys(groupedProducts).forEach(category => { %>
        <h2 class="category-name title"><%= category %></h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% groupedProducts[category].forEach(product => { %>
              <div class="square">
                <form action="/add-to-cart" method="post">
                <button type="submit" class="submit-btn">
                  <img src="/images/restaurant/<%= product.restaurant.lowername %>/products/<%= product.category.lowername %>/<%= product.image %>" class="card-img-top product-image" alt="Product Image">
                  <p class="product-name h4"><%= product.name %></p>
                  <p class="product-description"><%= product.description %></p>
                  <!-- <p class="product-description text-secondary">
                  //  <%= product.description.slice(0, 30) + (product.description.length > 20 ? '...' : '') %>
                  </p> -->
                  <div class="flex-container">
                    <img src="/images/static/add-icon.png" alt="" class="add-icon">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="restaurantId" value="<%= product.restaurant._id %>">
                    <p class="product-price">₱<%= product.price %></p>
                  </div>
              </button>
              </form>
              </div>
          <% }); %>
        </div>
      <% }); %>
    <% } else { %>
      <p>No products available.</p>
    <% } %>
</main>
<script src="/js/home/restaurant-products.js"></script>            
<%- include('.././footer.ejs') %>
 