<%- include('.././customer/layout/header.ejs') %>
<%- include('./../navbar.ejs') %>

<main>
    <article>
        <h1 class="title">Checkout</h1>
        <p><i>You can only pay a half amount of your total and pay the other half to restaurant.</i></p>
        <ul class="list-group my-4">
            <li class="list-group-item d-flex font-weight-bold bg-secondary">
                <div class="col-6 text-white">Product</div>
                <div class="col-3 text-white">Quantity</div>
                <div class="col-3 text-white">Total</div>
            </li>
            <% cart.items.forEach(item => { %>
                <li class="list-group-item d-flex">
                    <div class="col-6"><%= item.product.name %></div>
                    <div class="col-3"><%= item.quantity %></div>
                    <div class="col-3">₱<%= item.total %></div>
                </li>
            <% }); %>                        
            <% if (cart.voucherAmount) { %>
                <% if (cart.reservationAmount !== 0) { %>                 
                    <li class="list-group-item d-flex">
                        <div class="col-6">Reservation fee</div>
                        <div class="col-3"></div>
                        <div class="col-3">₱<%= cart.reservationAmount %></div>
                    </li>    
                <% } %>
                <li class="list-group-item d-flex">
                    <div class="col-6">Subtotal amount</div>
                    <div class="col-3"></div>
                    <div class="col-3">₱<%= cart.subTotal + cart.reservationAmount %></div>
                </li>
                <li class="list-group-item list-group-item-success d-flex">
                    <div class="col-6">Voucher amount</div>
                    <div class="col-3"></div>
                    <div class="col-3">-₱<%= cart.voucherAmount %></div>
                </li>               
            <% } else { %>
                <li class="list-group-item d-flex">
                    <div class="col-6">Subtotal amount</div>
                    <div class="col-3"></div>
                    <div class="col-3">₱<%= cart.subTotal %></div>
                </li>
                <% if (cart.reservationAmount !== 0) { %>
                    <li class="list-group-item d-flex">
                        <div class="col-6">Reservation fee</div>
    
                        <div class="col-3"></div>
                            <div class="col-3">₱<%= cart.reservationAmount %></div>
                    </li>    
                <% } %>
            <% } %>
            <li class="list-group-item d-flex">
                <div class="col-6">Total amount</div>
                <div class="col-3"></div>
                <div class="col-3" id="cart-total-amount">₱<%= Number(cart.totalAmount) %></div>
            </li>            
            <li class="list-group-item fw-bold d-flex">
                <div class="col-6">Half amount</div>
                <div class="col-3"></div>
                <div class="col-3" id="cart-half-amount">₱<%= Number(cart.halfAmount) %></div>
            </li>
        </ul>
        
        <!-- Add a hidden input field to store the cart JSON -->
        <input type="hidden" id="cart-data" value='<%= JSON.stringify(cart) %>' />
        <input type="hidden" id="reservation-data" value='<%= JSON.stringify(reservation) %>' />
        <div id="paypal-button-container"></div>
        <p id="result-message"></p>
    </article>
</main>

<!-- Replace the "test" client-id value with your client-id -->
<script src="https://www.paypal.com/sdk/js?client-id=ARQ5lVhOidCkFvUQWhWtGcav4Oxws-CUTzu7uME6IzCtZpvhWUEXFzsXp5dntimzAxJp-znYpJsg_urs&currency=PHP"></script>
<script src="/js/checkout/checkout.js"></script>          
<%- include('.././footer.ejs') %>
