<%- include('.././header.ejs') %>
<%- include('../customer/layout/navbar.ejs') %>
<h2>Total: ₱ <span id="cart-total-amount"><%= cart.totalAmount %></span></h2>
<p>You can only pay a half amount of your total</p>
<p>And pay the other half to restaurant</p>
<h2>Half amount: ₱ <span id="cart-half-amount"><%= cart.halfAmount %></span></h2>
<!-- Add a hidden input field to store the cart JSON -->
<input type="hidden" id="cart-data" value='<%= JSON.stringify(cart) %>' />
<div id="paypal-button-container"></div>
<p id="result-message"></p>
<!-- Replace the "test" client-id value with your client-id -->
<script src="https://www.paypal.com/sdk/js?client-id=ARQ5lVhOidCkFvUQWhWtGcav4Oxws-CUTzu7uME6IzCtZpvhWUEXFzsXp5dntimzAxJp-znYpJsg_urs&currency=PHP"></script>
<script src="/js/checkout/checkout.js"></script>          
<%- include('.././footer.ejs') %>
